body {
    padding: 0;
    margin: 0;
}

.one, .two, .three, .four, .five {
    padding: 20px 250px;
}

.one {
    background-color: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    max-width: 100px;
}

.header-right {
    display: flex;
    gap: 20px;
}

.container-two {
    background-color: rgb(167, 167, 167);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#intro-img {
    max-width: 300px;
}
